<a href="https://colab.research.google.com/github/sanskriti17204/python_np/blob/main/balancing_unbalanced_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
credit=pd.read_csv('/content/creditcard.csv')

In [3]:
credit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
credit['Class'].value_counts()

0.0    9926
1.0      38
Name: Class, dtype: int64

this is highly unbalanced dataset

0-> legit transactions
1-> fraudelent transactions

In [5]:
#sepearting the legit and fraudelent transactions
legit=credit[credit.Class==0.0]
fake=credit[credit.Class==1.0]

In [6]:
print(legit.shape)
print(fake.shape)

(9926, 31)
(38, 31)

**Under sampling**

build a simple dataset containing distributiom of fraudelent transactions

for eg a dataset containing 38 fake and 38 legit transactions

In [7]:
legit_sample=legit.sample(n=38)

In [8]:
print(legit_sample.shape)

(38, 31)

Concatenate the two dataframe

In [13]:
new_dataset=pd.concat([legit_sample, fake], axis=0)

In [14]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1271,978,1.295252,0.232756,-0.173885,0.308449,0.206534,-0.092895,-0.078438,0.049317,-0.063933,...,-0.319027,-0.977567,-0.020884,-0.893034,0.323284,0.151231,-0.032013,0.007618,1.78,0.0
2165,1675,-0.509162,0.892856,1.623989,-0.142322,-0.015976,-0.238113,0.469334,0.258943,-0.531129,...,-0.146674,-0.406727,0.029953,0.179250,-0.356332,0.073973,0.272389,0.107313,2.68,0.0
2688,2226,-1.093462,-0.022031,1.698054,-2.015554,1.329095,-0.677083,0.540751,-0.136682,0.151200,...,-0.185440,-0.692356,-0.341789,-0.986180,0.436218,0.720502,-0.273701,-0.184339,3.81,0.0
3973,3625,1.199732,0.065659,0.101809,0.569144,0.502963,0.937126,-0.213685,0.083191,1.402355,...,-0.364988,-0.612645,-0.161296,-1.338435,0.539331,0.320969,-0.035082,-0.014361,30.50,0.0
1438,1114,1.032844,-0.676285,-0.565769,-1.479904,-0.467996,-1.133137,0.359862,-0.266779,0.805647,...,0.082085,-0.034068,-0.297580,0.065810,0.650702,0.001319,-0.055856,0.017818,160.00,0.0

In [15]:
new_dataset.tail()
#class values are 1 , all fraud transactions are listed after the legit ones.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
9035,12597,-2.589617,7.016714,-13.705407,10.343228,-2.954461,-3.055116,-9.301289,3.349573,-5.654212,...,1.887738,0.333998,0.287659,-1.186406,-0.690273,0.631704,1.934221,0.789687,1.0,1.0
9179,13126,-2.880042,5.225442,-11.063330,6.689951,-5.759924,-2.244031,-11.199975,4.014722,-3.429304,...,2.002883,0.351102,0.795255,-0.778379,-1.646815,0.487539,1.427713,0.583172,1.0,1.0
9252,13323,-5.454362,8.287421,-12.752811,8.594342,-3.106002,-3.179949,-9.252794,4.245062,-6.329801,...,1.846165,-0.267172,-0.310804,-1.201685,1.352176,0.608425,1.574715,0.808725,1.0,1.0
9487,14073,-4.153014,8.204797,-15.031714,10.330100,-3.994426,-3.250013,-10.415698,4.620804,-5.711248,...,1.976988,0.256510,0.485908,-1.198821,-0.526567,0.634874,1.627209,0.723235,1.0,1.0
9509,14152,-4.710529,8.636214,-15.496222,10.313349,-4.351341,-3.322689,-10.788373,5.060381,-5.689311,...,1.990545,0.223785,0.554408,-1.204042,-0.450685,0.641836,1.605958,0.721644,1.0,1.0